<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container col-md-12">
<h2>ACRL Server config editor</h2>
<div class="col-md-6">
	<p>Upload the server preset you'd like to use(the ones twizzR made and uploaded)</p>
	<form action="/upload" method="POST" enctype="multipart/form-data">
	 <label class="control-label">Select File</label>
		<input id="cfg" type="file" name="file" class="file"/>
		<input type="submit"/>
	</form>
</div>
<div class="col-md-6">
  <p>Select the correct track for your race:</p>
  <form>
    <div class="form-group">
	{% block content %}
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
	  	{% for track in tracks %}
		<option>{{track}}</option>
		{% endfor %}
      </select>
    </div>
  </div>
</div>

<div class="col-md-6">
	{% for key in keys %}
	<label for="usr">{{key}}</label>
	  <input type="text" class="form-control" id="usr" value="{{details[key]}}"></input>
	  {% endfor %}
	  {% endblock %}
	  </div>
</form>
</body>
</html>
